@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model.Value("pageTitle");

  var ourServicesImage1 = Model.Value<IPublishedContent>("serviceImage1")?.Url() ?? "";
  var ourServicesImage2 = Model.Value<IPublishedContent>("serviceImage2")?.Url() ?? "";
  var ourServicesImage3 = Model.Value<IPublishedContent>("serviceImage3")?.Url() ?? "";
  var ourServicesImage4 = Model.Value<IPublishedContent>("serviceImage4")?.Url() ?? "";
  var ourServicesImage5 = Model.Value<IPublishedContent>("serviceImage5")?.Url() ?? "";
  var ourServicesImage6 = Model.Value<IPublishedContent>("serviceImage6")?.Url() ?? "";
  
  
  var contactInfoImage = Model.Value<IPublishedContent>("contactInfoImage")?.Url() ?? "";
  var contactInfoBackground = Model.Value<IPublishedContent>("contactInfoBackground")?.Url() ?? "";
}

  <section class="atf">
    <img src="./images/earth-down.png" class="earth-down"></img>
    <img src="./images/earth-up.png" class="earth-up"></img>

    <div class="atf-content">
      <h1>@Model.Value("atfHeading")</h1>
      <nav class="breadcrumb-nav">
        <a href="@Model.Value("breadcrumbLink1Url")">@Model.Value("breadcrumbLink1Text")</a>
        <img src="./images/Arrow-Vector-Black.svg"></img>
        <a href="@Model.Value("breadcrumbLink2Url")">@Model.Value("breadcrumbLink2Text")</a>
      </nav>
    </div>
  </section>  
  <section id="our-services-section">
    <div class="container page-section">
      <h2>@Model.Value("ourServicesHeading")</h2>
      <div class="grid-container">
        <div class="card">
          <h4 class="card-heading">@Model.Value("serviceHeading1")</h4>
          <div class="card-image">
            <img src="@ourServicesImage1"></img>            
          </div>
          <p class="card-body">@Model.Value("serviceParagraph1")</p>
        </div>
        <div class="card">
          <h4 class="card-heading">@Model.Value("serviceHeading2")</h4>
          <div class="card-image">
            <img src="@ourServicesImage2"></img>            
          </div>
          <p class="card-body">@Model.Value("serviceParagraph2")</p>
        </div>
        <div class="card">
          <h4 class="card-heading">@Model.Value("serviceHeading3")</h4>
          <div class="card-image">
            <img src="@ourServicesImage3"></img>            
          </div>
          <p class="card-body">@Model.Value("serviceParagraph3")</p>
        </div>
        <div class="card">
          <h4 class="card-heading">@Model.Value("serviceHeading4")</h4>
          <div class="card-image">
            <img src="@ourServicesImage4"></img>            
          </div>
          <p class="card-body">@Model.Value("serviceParagraph4")</p>
        </div>
        <div class="card">
          <h4 class="card-heading">@Model.Value("serviceHeading5")</h4>
          <div class="card-image">
            <img src="@ourServicesImage5"></img>            
          </div>
          <p class="card-body">@Model.Value("serviceParagraph5")</p>
        </div>
        <div class="card">
          <h4 class="card-heading">@Model.Value("serviceHeading6")</h4>
          <div class="card-image">
            <img src="@ourServicesImage6"></img>            
          </div>
          <p class="card-body">@Model.Value("serviceParagraph6")</p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact-details-section">
      <div class="container">
        <div class="img-container">
          <img class="img-vector" src="@contactInfoBackground"></img>
          <img class="img-person" src="@contactInfoImage"></img>
        </div>
        <div class="section-body">
          <h2>@Model.Value("contactInfoHeading")</h2>
          <div class="element-group">
            <img src="./images/Icon address.png"></img>
            <div class="text-group">
              <strong>@Model.Value("contactInfoAddressHeading")</strong>
              <p>@Model.Value("contactInfoAddress")</p>
            </div>
          </div>
          <div class="element-group">
            <img src="./images/Icon phone.png"></img>
            <div class="text-group">
              <strong>@Model.Value("contactInfoPhoneHeading")</strong>
              <p>@Model.Value("contactInfoPhone")</p>
            </div>
          </div>
          <div class="element-group">
            <img src="./images/Icon email.png"></img>
            <div class="text-group">
              <strong>@Model.Value("contactInfoEmailHeading")</strong>
              <p>@Model.Value("contactInfoEmail")</p>
            </div>
          </div>
        </div>
      </div>
    </section>

	<style>
		.atf {
  position: relative;
  padding: 6rem 0;
  background-color: var(--clr-gray-secondary);

  .earth-down {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .earth-up {
    position: absolute;
    top: 0;
    right: 0;
  }

  .atf-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      > :nth-child(1) {
        color: var(--clr-text-primary);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      img {
        height: 10px;
      }

      > :nth-child(3) {
        color: var(--clr-beige-primary);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#our-services-section {
  background-color: var(--clr-bg-white);

  .container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    .grid-container {
      margin-top: 1rem;
      text-align: start;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 2rem;

      .card {
        background-color: white;
        .card-heading {
          padding: 2rem;
          font-size: 15pt;
          font-weight: 600;
        }
        .card-image {
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
          }
        }
        .card-body {
          padding: 2rem;
          font-size: var(--fs-small);
        }
      }
    }
  }
}

#contact-details-section {
  background-color: var(--clr-gray-secondary);
  .container {
    display: flex;

    .img-container {
      position: relative;
      width: 50%;

      .img-vector {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
      .img-person {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
    .section-body {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 11rem 0;
      padding-left: 3rem;

      .element-group {
        display: flex;
        gap: 1rem;

        img {
          max-height: 25px;
        }
        .text-group {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          strong {
            display: block;
          }
          p {

          }
        }
      }
    }
  }
}

	</style>